/*DATA TABLE*/

table.dataTable {
	border: 1px solid $gray-200;
  
	&.no-footer {
	  border-bottom-color: $gray-200;
	}
  
	thead {
	  th, td {
		border-top-width: 0;
		border-bottom-width: 0;
		padding: 8px 10px;
		font-weight: 700;
		font-size: 12px;
		color: #14112d;
	  }
  
	  .sorting_asc, .sorting_desc {
		background-image: none;
		position: relative;
	  }
	}
  
	&.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before {
	  top: 9.5px;
	  left: 7px;
	  width: 16px;
	  height: 16px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  border-width: 0;
	  box-shadow: none;
	  background-color: $primary;
	  font-size: 14px;
	  font-weight: 700;
	  line-height: 17px;
	  color: #ffffff;
	}
  
	> tbody > tr.child {
	  ul.dtr-details {
		display: block;
	  }
  
	  span.dtr-title {
		font-weight: 500;
	  }
	}
  }
  
  .dataTables_wrapper {
	.page-link {
	  width: auto;
	  height: auto;
	  padding: 0;
	  font-size: 12px;
	  background: transparent !important;
	  margin-top: 2px;
	}
  
	.dataTables_length {
	  text-align: right;
  
	  label {
		display: block;
		margin-bottom: 15px;
	  }
  
	  .select2-container--default {
		margin-right: 5px;
  
		.select2-selection--single {
		  height: 32px;
		  border-color: $gray-200;
		  border-radius: 5px;
  
		  .select2-selection__rendered {
			line-height: 32px;
		  }
  
		  .select2-selection__arrow {
			height: 30px;
  
			b {
			  border-top-color: #7c8a9e;
			}
		  }
		}
	  }
	}
  
	.dataTables_filter {
	  text-align: right;
  
	  label {
		display: block;
		margin-bottom: 15px;
	  }
  
	  input {
		margin-left: 0;
		border: 1px solid $gray-200;
		padding: 5px 10px;
		line-height: 1.539;
		color: #22252f;
		border-radius: 5px;
		width: 100%;
  
		&::placeholder {
		  color: #7c8a9e;
		}
	  }
	}
  
	.dataTables_info {
	  margin-top: 15px;
	  padding: 5px 0;
	  text-align: right;
	}
  
	.dataTables_paginate {
	  padding-top: 0;
	  margin-top: 15px;
	  text-align: right;
  
	  .paginate_button {
		background-color: $light;
		padding: 5px 10px;
		margin: 0;
		border: 0;
		border-radius: 1px;
		transition: all 0.2s ease-in-out;
  
		+ .paginate_button {
		  margin-left: 3px;
		}
  
		&.disabled {
		  background-color: #eceff3;
		  color: $light !important;
  
		  &:hover, &:focus {
			background-color: #eceff3;
			color: $light !important;
		  }
		}
  
		&.previous {
		  margin-right: 3px;
		}
  
		&.next {
		  margin-left: 3px;
		}
  
		&:hover, &:focus {
		  border: 0;
		  background-image: none;
		  background-color: $light;
		  color: #22252f !important;
		}
  
		&.current {
		  border: 0;
		  background-image: none;
		  background-color: $primary;
		  color: $white !important;
  
		  &:hover, &:focus {
			border: 0;
			background-image: none;
			background-color: $primary;
			color: $white !important;
		  }
		}
	  }
	}
  }
  
  @media (min-width: 576px) {
	.dataTables_wrapper .dataTables_length {
	  float: right;
	}
  }
  
  @media (min-width: 576px) {
	.dataTables_wrapper .dataTables_filter {
	  float: left;
	  margin-top: 0;
	}
  }
  
  @media (min-width: 576px) {
	.dataTables_wrapper .dataTables_filter input {
	  width: auto;
	}
  }
  
  @media (min-width: 576px) {
	.dataTables_wrapper .dataTables_info {
	  float: right;
	}
  }
  
  @media (min-width: 576px) {
	.dataTables_wrapper .dataTables_paginate {
	  float: left;
	}
  }
  
  @media (prefers-reduced-motion: reduce) {
	.dataTables_wrapper .dataTables_paginate .paginate_button {
	  transition: none;
	}
  }
  
  table.dataTable tfoot {
	th, td {
	  border-top: 1px solid $light;
	}
  }
  
  /*DATA TABLE*/
  
  div {
	&.dataTables_wrapper div.dataTables_filter input {
	  margin-left: 0px !important;
	}
  
	&.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
	  padding-right: 15px !important;
	  padding-left: 0px;
	}
  }
  
  table.dataTable {
	thead {
	  .sorting:before, .sorting_asc:before, .sorting_desc:before, .sorting_asc_disabled:before, .sorting_desc_disabled:before {
		right: auto !important;
		left: 1rem;
	  }
  
	  .sorting:after, .sorting_asc:after, .sorting_desc:after, .sorting_asc_disabled:after, .sorting_desc_disabled:after {
		left: 0.5em;
		right: auto !important;
	  }
  
	  > tr > {
		th {
		  &.sorting_asc, &.sorting_desc, &.sorting {
			padding-right: 15px !important;
			padding-left: 30px;
		  }
		}
  
		td {
		  &.sorting_asc, &.sorting_desc, &.sorting {
			padding-right: 15px !important;
			padding-left: 30px;
		  }
		}
	  }
	}
  
	&.dtr-inline.collapsed > tbody > tr[role="row"] > {
	  td:first-child, th:first-child {
		padding-right: 30px;
		padding-left: 0px !important;
	  }
  
	  td:first-child::before {
		left: auto !important;
		right: 7px;
	  }
	}
  }