$background:#f7f9fd;
$default-color:#4f4e4e;

/*Color variables*/
$primary:#664bc4; 
$secondary:#6474dd;
$pink:#ff2b93;
$teal:#00cccc;
$purple: #8c3feb;
$success:#54e0c4 ;
$warning:#fcb32d;
$danger:#f23f38;
$info:#2dc3fc;
$orange:#fe6931;
$dark:#191621; 
$indigo: #1c2d5b;
$white:#fff;
$black:#000;
$light:#f7f9fd ;

/*gray variables*/
$gray-100:#f7f9fd;
$gray-200:#eef1f7;
$gray-300:#e7ecf3;
$gray-400:#cbd2de;
$gray-500:#a6a6cc;
$gray-600:#9292bf;
$gray-700:#6f6f9c;
$gray-800:#505086;
$gray-900:#433d5a;

/*white variables*/
$white-1:rgba(255, 255, 255, 0.1);
$white-2:rgba(255, 255, 255, 0.2);
$white-3:rgba(255, 255, 255, 0.3);
$white-4 :rgba(255, 255, 255, 0.4);
$white-5 :rgba(255, 255, 255, 0.5);
$white-6 :rgba(255, 255, 255, 0.6);
$white-7 :rgba(255, 255, 255, 0.7);
$white-8 :rgba(255, 255, 255, 0.8);
$white-9 :rgba(255, 255, 255, 0.9);
$white-05:rgba(255, 255, 255, 0.05);
$white-08:rgba(255, 255, 255, 0.08);
$white-75:rgba(255, 255, 255, 0.075);

/*black variables*/
$black-1:rgba(0, 0, 0, 0.1);
$black-2:rgba(0, 0, 0, 0.2);
$black-3:rgba(0, 0, 0, 0.3);
$black-4:rgba(0, 0, 0, 0.4);
$black-5:rgba(0, 0, 0, 0.5);
$black-6:rgba(0, 0, 0, 0.6);
$black-7:rgba(0, 0, 0, 0.7);
$black-8:rgba(0, 0, 0, 0.8);
$black-9:rgba(0, 0, 0, 0.9);
$black-05:rgba(0, 0, 0, 0.05);

/*shadow variables*/
$shadow:0px 15px 38px rgba(25, 25, 48, 0.1);

$border:#e9edf4;


