/*---Count-down---*/

#count-down {
	position: relative;
	text-align: center;
	display: inline-block;
  
	.clock-presenter {
	  height: 80px;
	  padding: 0px;
	  text-align: center;
  
	  .digit {
		margin-top: 10px;
		font-size: 1.5rem;
		line-height: 60px;
		height: 60px;
		display: inline-block;
		overflow: hidden;
		text-align: center;
		position: relative;
		cursor: default;
		font-weight: 600;
		border-radius: 3px;
	  }
  
	  width: 80px;
	  height: 80px;
	  float: left;
	  margin: 0 20px 0 0;
	  background: url(../img/photos/4.jpg);
	  border-radius: 50%;
	  background-size: cover;
	  position: relative;
	  box-shadow: 0 0 0 rgb(17, 5, 150);
	  animation: pulse 2s infinite;
  
	  &:before {
		content: '';
		position: absolute;
		background: rgba(17, 5, 150, 0.75);
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		display: block;
		border-radius: 50%;
	  }
  
	  .note {
		position: relative;
		margin-bottom: 0px;
		cursor: default;
		font-size: 16px;
		opacity: 0.7;
	  }
	}
  }
  
  @media (max-width: 568px) {
	#count-down .clock-presenter {
	  float: none !important;
	  margin-bottom: 45px;
	}
  }
  
  .countdown li {
	background: radial-gradient(circle farthest-corner at 100% 110%, #d75dbc 10%, #6a4bc4 50%) !important;
	border-radius: 7px !important;
  }